/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://websfont.github.io/websfont/websfont.css);

@font-face {
    font-family: "Chomsky";
    src: url("https://cherin0115.github.io/dothome21/portfolio/assets/fonts/Chomsky.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ChosunNm";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "GmarketSans";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "GmarketSans";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansMedium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "GmarketSans";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Light.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-ExtraBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 900;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.eot?#iefix") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/websfont/nanumSquareNeo/nanumSquareNeo-Black.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "NeoGeoTrial";
    src: url("/assets/fonts/NeoGeoTrial-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "NeoGeoTrial";
    src: url("/assets/fonts/NeoGeoTrial-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "NeoGeoTrial";
    src: url("/assets/fonts/NeoGeoTrial-Book.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "NeoGeoTrial";
    src: url("/assets/fonts/NeoGeoTrial-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "NeoGeoTrial";
    src: url("/assets/fonts/NeoGeoTrial-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "NeoGeoTrial";
    src: url("/assets/fonts/NeoGeoTrial-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "NeoGeoTrial";
    src: url("/assets/fonts/NeoGeoTrial-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "NeoGeoTrial";
    src: url("/assets/fonts/NeoGeoTrial-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "NeoGeoTrial";
    src: url("/assets/fonts/NeoGeoTrial-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "NeoGeoTrial";
    src: url("/assets/fonts/NeoGeoTrial-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    scrollbar-color: #c0c0c0 transparent; /* 투명한 배경색과 회색 스크롤바 */
}

html {
    text-size-adjust: 100%;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
table,
textarea {
    font-size: 16px;
    line-height: 1.4;
    color: #202020;
    font-family: NexonLv1GothicLow, -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul {
    list-style: none;
}

em,
address {
    font-style: normal;
}

strong {
    font-weight: normal;
}

img {
    vertical-align: top;
    width: 100%;
}

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.mt0 {
    margin-top: 0 !important;
}

input,
textarea,
button,
select {
    appearance: none;
    border-radius: 0;
    font-size: 16px;
}

#skip a {
    position: absolute;
    left: 10px;
    top: -92px;
    z-index: 100000;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    background: #000;
    font-family: "Chosunilbo_myungjo";
    transition: none;
}

#skip a:focus,
#skip a:active {
    top: 20px;
    transition: all 0.6s ease;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.layer__contents {
    @apply bg-[#223167a8] h-[calc(100%-60px)] rounded-t-lg p-[5%] overflow-y-scroll relative;
    backdrop-filter: blur(30px); /* Ensure this is not overridden by other CSS */
}

.layer__footer {
    @apply flex justify-between absolute left-0 bottom-1 w-full h-[3.75rem] bg-[#22316767] backdrop-blur-[10px] text-white p-[19px] font-nanumSquareNeo rounded-b-lg;
}

.layer__footer .close {
    @apply w-[23px] h-[23px] cursor-pointer;
    background-image: url("/assets/img/close.svg");
    background-size: cover;
}

.loader__circle {
    @apply absolute -rotate-45 opacity-0 w-9 h-9 animate-loader__circle;
}

.loader__circle:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #fff;
}

.loader__circle:nth-child(2) {
    animation-delay: 240ms;
}

.loader__circle:nth-child(3) {
    animation-delay: 480ms;
}

.loader__circle:nth-child(4) {
    animation-delay: 720ms;
}

.loader__circle:nth-child(5) {
    animation-delay: 960ms;
}

.MusicPlayer__currently-playing h2 {
    @apply animate-marquee;
}

@layer components {
    @keyframes rotator {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(270deg);
        }
    }

    @keyframes colors {
        0% {
            stroke: #4285f4;
        }
        25% {
            stroke: #de3e35;
        }
        50% {
            stroke: #f7c223;
        }
        75% {
            stroke: #1b9a59;
        }
        100% {
            stroke: #4285f4;
        }
    }

    @keyframes dash {
        0% {
            stroke-dashoffset: 187;
        }
        50% {
            stroke-dashoffset: 46.75;
            transform: rotate(135deg);
        }
        100% {
            stroke-dashoffset: 187;
            transform: rotate(450deg);
        }
    }

    .spinner {
        @apply animate-[rotator_1.4s_linear_infinite];
    }

    .path {
        stroke-dasharray: 187;
        stroke-dashoffset: 0;
        transform-origin: center;
        animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    }
}

#footer .menu ul li button {
    transition: all 0.3s;
    transform-origin: 40% 70%;
}

#footer .menu ul li:hover button {
    transform: scale(2);
    margin: 0 2em;
    border-radius: 50%;
}

#footer .menu ul li:hover + li button {
    transform: scale(1.5);
    margin: 0 1.5em;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

.layer_tool {
    @apply w-[80vw] h-[86vh] fixed rounded-lg text-white font-nanumSquareNeo;
}
